/* Navbar */
.navbar{
    margin-bottom: 15px;
}

.navbar-brand {
    font-family: Viga;
    font-size: 32px;
}


/* Desktop Version */
@media (min-width: 992px) {
    .nav-link {
        text-transform: uppercase;
        margin-right: 30px;
    }
}